[Desktop Entry]
Comment=Animated_loading_of_the_KDE_19

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Animated_loading_of_the_KDE_19

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Name=Animated_loading_of_the_KDE_19
X-KDE-PluginInfo-Author=creativity
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults 
