[Unit]
Description=Pre-Shutdown Processes
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
User=katie
Group=katie
ExecStart=/etc/skel/.steam/resources/shellscript/Set_Wallpaper_Plain_Color.sh

[Install]
WantedBy=halt.target reboot.target shutdown.target
