[Unit]
Description=Pre-Shutdown Processes to clear any wallpapers

[Service]
Type=oneshot
ExecStart=/etc/skel/.steam/resources/shellscript/Set_Wallpaper_Plain_Color.sh

[Install]
WantedBy=multi-user.target
