[Desktop Entry]
Name=Steam OS 3
Name[bg]=Steam OS 3
Name[ca]=Steam OS 3
Name[ca@valencia]=Steam OS 3
Name[cs]=Steam OS 3
Name[da]=Steam OS 3
Name[de]=Steam OS 3
Name[en_GB]=Steam OS 3
Name[es]=Steam OS 3
Name[eu]=Steam OS 3
Name[fi]=Steam OS 3
Name[fr]=Steam OS 3
Name[hi]=Steam OS 3
Name[hu]=Steam OS 3
Name[ia]=Steam OS 3
Name[id]=Steam OS 3
Name[it]=Steam OS 3
Name[ja]=Steam OS 3
Name[ko]=Steam OS 3
Name[nl]=Steam OS 3
Name[nn]=Steam OS 3
Name[pl]=Steam OS 3
Name[pt_BR]=Steam OS 3
Name[ro]=Steam OS 3
Name[ru]=Steam OS 3
Name[sk]=Steam OS 3
Name[sl]=Steam OS 3
Name[sv]=Steam OS 3
Name[tr]=Steam OS 3
Name[uk]=Steam OS 3
Name[x-test]=Steam OS 3
Name[zh_CN]=Steam OS 3

X-KDE-PluginInfo-Name=Steam OS 3
X-KDE-PluginInfo-Author=Various
X-KDE-PluginInfo-Email=dont@gmail.com>
X-KDE-PluginInfo-License=n/a
