[Desktop Entry]
Comment=Steam-Saturn-Pre-Load
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Steam-Saturn-Pre-Load
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Name=Steam-Saturn-Pre-Load
X-KDE-PluginInfo-Author=Katie M Nelson
X-KDE-PluginInfo-Email=bradfordl71753@gmail.com
X-KDE-PluginInfo-License=LGPLv3
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults 
